<!--
 Copyright 2021 TNO

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<template>
  <div id="container">
    <div
      v-if="alert !== false"
      :class="{
        alert: true,
        'alert-success': alert.type === 'success',
        'alert-danger': alert.type === 'danger',
        'alert-primary': alert.type === 'primary'
      }"
      role="alert"
    >
      {{ alert.message }}
    </div>
    <div id="pending-approvals">
      <div id="heading">
        <h1>Pending approvals</h1>
      </div>
      <div class="accordion" id="approvalAccordion">
        <div v-if="approvalRequests.length == 0">
          No pending approval requests. Have a nice day!
        </div>
        <div v-for="(req, i) in approvalRequests" :key="req.queryID">
          <div class="card">
            <div
              class="card-header"
              :id="'heading' + i"
              data-toggle="collapse"
              :data-target="'#collapse' + i"
              aria-expanded="true"
              :aria-controls="'collapse' + i"
            >
              <b>{{ req.queryID }}</b>
              <br />
              {{ req.summary }}
            </div>

            <div
              :id="'collapse' + i"
              class="collapse"
              :aria-labelledby="'heading' + i"
              data-parent="#approvalAccordion"
            >
              <div class="card-body">
                <div v-if="approvalRequestsDetail[req.queryID]">
                  Query ID:
                  {{ approvalRequestsDetail[req.queryID].query.ID }}
                  <br />
                  Creation timestamp:
                  {{ req.creation_timestamp }}
                  <br />
                  Count: {{ approvalRequestsDetail[req.queryID].count }}
                  <br />
                  Aggregates:
                  {{ approvalRequestsDetail[req.queryID].aggregates }}
                  <br />
                  <br />
                  <button
                    type="button"
                    class="btn btn-success"
                    v-on:click="response(req.queryID, true)"
                  >
                    <font-awesome-icon icon="check" /> Approve
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    v-on:click="response(req.queryID, false)"
                  >
                    <font-awesome-icon icon="times" /> Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="processed-approvals">
      <div v-if="processedApprovalRequests.length !== 0">
        <h3>Recent processed approvals</h3>
        <div class="accordion" id="processedAccordion">
          <div v-for="(req, i) in processedApprovalRequests" :key="req.queryID">
            <div class="card">
              <div
                class="card-header"
                :id="'processedHeading' + i"
                data-toggle="collapse"
                :data-target="'#processedCollapse' + i"
              >
                <b>{{ req.queryID }}</b>
                <br />
                {{ req.summary }}
                <br />
                <div v-if="req.status === 'Approved'">
                  <font-awesome-icon icon="check" /> {{ req.status }}
                </div>
                <div v-else-if="req.status === 'Rejected'">
                  <font-awesome-icon icon="times" /> {{ req.status }}
                </div>
              </div>

              <div
                :id="'processedCollapse' + i"
                class="collapse"
                data-parent="#processedAccordion"
              >
                <div class="card-body">
                  <div v-if="approvalRequestsDetail[req.queryID]">
                    Query ID:
                    {{ approvalRequestsDetail[req.queryID].query.ID }}
                    <br />
                    Creation timestamp:
                    {{ req.creation_timestamp }}
                    <br />
                    Completed timestamp:
                    {{
                      req.completed_timestamp ||
                        'Review is currently being processed'
                    }}
                    <br />
                    Count: {{ approvalRequestsDetail[req.queryID].count }}
                    <br />
                    Aggregates:
                    {{ approvalRequestsDetail[req.queryID].aggregates }}
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BackendService from '../services/backend.service';

// order: "", "", "c", "b", "a"
const sortDescend = attr => {
  return (a, b) => {
    return !a[attr] ? -1 : !b[attr] ? 1 : a[attr] < b[attr] ? 1 : -1;
  };
};

export default {
  data() {
    return {
      approvalRequests: [],
      processedApprovalRequests: [],
      approvalRequestsDetail: {},
      alert: false
    };
  },
  mounted() {
    this.fetchPendingApprovals();
    this.$nextTick(function() {
      window.setInterval(() => {
        this.fetchPendingApprovals();
      }, 10000);
    });
  },
  methods: {
    fetchPendingApprovals() {
      BackendService.getPendingApprovals()
        .then(response => {
          this.resetFetchError();
          this.approvalRequests = response.data.approvalRequests.filter(
            req => !req.status
          );
          this.processedApprovalRequests = response.data.approvalRequests
            .filter(req => !!req.status)
            .sort(sortDescend('completed_timestamp'));

          for (const req of response.data.approvalRequests) {
            if (!this.approvalRequestsDetail[req.queryID] || !req.status) {
              this.getApprovalRequest(req.queryID);
            }
          }
        })
        .catch(this.errHandler);
    },
    errHandler(err) {
      if (err.response) {
        this.alert = {
          type: 'danger',
          message:
            err +
            (err.response.data.error ? ' - ' + err.response.data.error : '')
        };
      } else {
        this.alert = {
          type: 'danger',
          message: 'Unable to connect to the backend API: ' + err
        };
      }
    },
    resetFetchError() {
      if (this.alert.type === 'danger') {
        this.alert = false;
      }
    },
    getApprovalRequest(queryID) {
      BackendService.getPendingApproval(queryID)
        .then(response => {
          this.approvalRequestsDetail[queryID] = response.data;
          this.$forceUpdate();
        })
        .catch(this.errHandler);
    },
    response(queryID, approveBool) {
      if (approveBool === true) {
        BackendService.approveQuery(queryID)
          .then(() => {
            this.alert = {
              type: 'success',
              message: 'Query ' + queryID + ' succesfully approved.'
            };
            this.moveApprovalToProcessed(queryID, true);
          })
          .catch(this.errHandler);
      } else {
        BackendService.rejectQuery(queryID)
          .then(() => {
            this.alert = {
              type: 'primary',
              message: 'Query ' + queryID + ' succesfully rejected.'
            };
            this.moveApprovalToProcessed(queryID, false);
          })
          .catch(this.errHandler);
      }
    },
    moveApprovalToProcessed(queryID, approved) {
      var item = this.approvalRequests.filter(function(el) {
        return el.queryID == queryID;
      })[0];
      item.status = approved ? 'Approved' : 'Rejected';
      this.processedApprovalRequests.unshift(item);
      this.approvalRequests = this.approvalRequests.filter(function(el) {
        return el.queryID != queryID;
      });
    }
  }
};
</script>

<style>
.container h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
}

.container h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}

#pending-approvals {
  margin-top: 0px;
  margin-bottom: 20px;
}

#processed-approvals {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}
.alert {
  margin-top: 30px;
}

#autopilot-button {
  margin-top: 35px;
}
</style>
