<!--
 Copyright 2021 TNO

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<template>
  <div id="container">
    <div
      v-if="alert !== false"
      :class="{
        alert: true,
        'alert-success': alert.type === 'success',
        'alert-danger': alert.type === 'danger',
        'alert-primary': alert.type === 'primary'
      }"
      role="alert"
    >
      {{ alert.message }}
    </div>
    <div v-if="version.mpc_compute_node">
      <h3>MPC Compute Node</h3>
      Git: {{ version.mpc_compute_node.git_branch }}/{{
        version.mpc_compute_node.git_commit
      }}
      - Build date: {{ version.mpc_compute_node.build_date }}
    </div>
    <div v-if="version.interface_backend">
      <h3>Interface Backend</h3>
      Git: {{ version.interface_backend.git_branch }}/{{
        version.interface_backend.git_commit
      }}
      - Build date: {{ version.interface_backend.build_date }}
    </div>
  </div>
</template>

<script>
import BackendService from '../services/backend.service';

export default {
  data() {
    return {
      version: {},
      alert: false
    };
  },
  mounted() {
    this.getVersion();
  },
  methods: {
    errHandler(err) {
      if (err.response) {
        this.alert = {
          type: 'danger',
          message:
            err +
            (err.response.data.error ? ' - ' + err.response.data.error : '')
        };
      } else {
        this.alert = {
          type: 'danger',
          message: 'Unable to connect to the backend API: ' + err
        };
      }
    },
    resetFetchError() {
      if (this.alert.type === 'danger') {
        this.alert = false;
      }
    },
    getVersion() {
      BackendService.getVersion()
        .then(response => {
          this.resetFetchError();
          this.version = response.data;
          this.$forceUpdate();
        })
        .catch(this.errHandler);
    }
  }
};
</script>

<style>
.container h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
}

.container h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.alert {
  margin-top: 30px;
}
</style>
